<<<<<<< HEAD


.video{
    width: 100%;
    margin-top: 14rem;
    margin-bottom: 5rem;
}

.video_box h1{
    font-size: 3rem;
    line-height: 1;
}

.video_box{
    width: 80%;
    margin: 0 auto;
}

.video_box p{
    font-size: 1.3rem;
    width: 40%;
    line-height: 1.2;
}
 
.video_box_frame{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    padding: 5rem;
    margin-top: 6rem;
}

.video_box_frame_left{
    grid-column: 1 / 8;
    grid-row: 1 / -1;
}

.video_box_frame_left_img{
    border-radius: 1rem;
}

.video_box_frame_right{
    grid-column: 3/-1;
    background-color: var(--icons-color);
    border-radius: 1rem;
    grid-row: 1/ -1;
    padding: 3rem 0;
    margin-top: -5rem;
    box-shadow: var(--box-shadow);
    width: 600px;
    height: 600px;
}

@media screen and (max-width: 35em) {
    .video_box{
        width: 90%;
    }

    .video_box_frame{
        padding: 0;
    }

    .video_box_frame_right{
        margin-bottom: -2rem;
    }

    .video_box h1{
        font-size: 2rem;
    }

    .video_box p{
        width: 100%;
    }
=======


.video{
    width: 100%;
    margin-top: 14rem;
    margin-bottom: 5rem;
}

.video_box h1{
    font-size: 3rem;
    line-height: 1;
}

.video_box{
    width: 80%;
    margin: 0 auto;
}

.video_box p{
    font-size: 1.3rem;
    width: 40%;
    line-height: 1.2;
}
 
.video_box_frame{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    padding: 5rem;
    margin-top: 6rem;
}

.video_box_frame_left{
    grid-column: 1 /8;
    grid-row: 1 / -1;
}

.video_box_frame_left_img{
    border-radius: 1rem;
}

.video_box_frame_right{
    grid-column: 3/-1;
    background-color: var(--icons-color);
    border-radius: 1rem;
    grid-row: 1/ -1;
    padding: 3rem 0;
    margin-top: -5rem;
    box-shadow: var(--box-shadow);
}

@media screen and (max-width: 35em) {
    .video_box{
        width: 90%;
    }

    .video_box_frame{
        padding: 0;
    }

    .video_box_frame_right{
        margin-bottom: -2rem;
    }

    .video_box h1{
        font-size: 2rem;
    }

    .video_box p{
        width: 100%;
    }
>>>>>>> 674d4a54a7dc505c024906120914baea6c464f08
}