
.reselltoken{
    width: 100%;
    margin-block: 4rem;
}

.reselltoken_box{
    width: 60%;
    margin: 0 auto;
}

.reselltoken_box h1{
    font-size: 3rem;
    color: aliceblue;
}

.reselltoken_box_image{
    margin-block: 4rem;
}